<div class="container">
    <div class="col-md-12">
        <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" formControlName="title">
                <div class="help-text" *ngIf="title && title.invalid && title.touched">Title is required.</div>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea type="text" class="form-control" formControlName="content"></textarea>
                <div class="help-text" *ngIf="content && content.invalid && content.touched">Content is required.</div>
            </div>

            <div class="my-2">
                <button type="submit" class="btn btn-primary">Add Post</button>
            </div>
        </form>
    </div>
</div>