<!-- <p>Custom directive example "appHighlight" is the custom directive</p>
<div class="bigFont" appHighlight [number]="number1" [divisibleBy]="5">{{ number1 }}</div>
<div class="bigFont" appHighlight [number]="number2" [divisibleBy]="5">{{ number2 }}</div>
<app-darklighttoggle></app-darklighttoggle> -->

<!-- <app-tut-promise></app-tut-promise> -->

<!-- <app-tut-observable></app-tut-observable> -->

<app-objvssub></app-objvssub>

<app-subjectcmp></app-subjectcmp>

<button (click)="logToConsole('Sidd id debugging')">Log to console</button>

